body {
    background-image: url('bg.jpg');
}


/** estilização da navbar **/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: blue;
    padding: 20px;
}
li {
    float: right;
}
li a {
    display: block;
    padding: 8px;
    background-color: aliceblue;
}